# demo-magic.sh script
demo-magic.sh
# Ignore .terraform
.terraform
# Kubernetes kubeconfig file
terraform/kubeconfig_*
# Ignore temporary README.sh script
README.sh
# ignore builded pages by Vuepress
docs/.vuepress/dist
# Node modules
node_modules
